.lakaf{
background-color: antiquewhite;
height: 100px;
border: 10px solid black;
}
.laka{
   background-color: antiquewhite;
    height: 100px;

    border: 10px solid black;

}
.laks{
    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;
} 
 .lak{

    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;

 }   
.la{

    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;


}
.mks{

    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;


}
.mk{

    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;

}
.mkd{
    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;

}
.mka{

    background-color: antiquewhite;
    height: 150px;


    border: 10px solid black;


}






















